<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/index.css">

</head>

<body>

<div class="section-form">
  <form method="POST" action="/submit">
    <div class="intro"> 
      <h1>HOST</h1>
    </div>
    <input type="text" placeholder="Name" name="hname" tabindex="1"/>
    <input type="text" placeholder="E-mail" name="hemail" tabindex="2"/>
    <input type="text" placeholder="Phone" name="hphone" tabindex="3"/>
    <input type="text" placeholder="Address Visited" name="address" tabindex="4"/>
    <div class="intro"> 
      <h1>VISITOR</h1>
    </div>
    <input type="text" placeholder="Name" name="vname" tabindex="5"/>
    <input type="text" placeholder="E-mail" name="vemail" tabindex="6"/>
    <input type="text" placeholder="Phone" name="vphone" tabindex="7"/>
    <br></br>
    <center><input type="submit" name="submit" value="Check IN" tabindex="8"/></center>
  </form>
</div>

</body>

</html>